:root {
    --link-color: #1679ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Helvetica,sans-serif;
    text-indent: 0;
}

h1 {
    font-weight: 200;
}

h2 {
    margin-bottom: .5em;
    font-weight: 500;

}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    text-decoration: underline;
}
body {
    background: linear-gradient(120deg,rgb(18 18 18 / 90%),rgb(44 44 44 / 90%)),url(../img/bg-100dcf66f1.jpg);
    background-attachment: fixed,fixed;
    background-size: cover;
    animation: westanimationworld 3s infinite;
}
@keyframes eitawestanimationworld {
    0% {
        background: linear-gradient(120deg,rgba(102,126,234,.9),rgba(118,75,162,.9)),url(../img/bg-100dcf66f1.jpg);
        background-attachment: fixed,fixed;
        background-size: cover;
    }
    50% {
        background: linear-gradient(120deg,hsla(33,95%,78%,.9),rgba(233,196,242,.9)),url(../img/bg-100dcf66f1.jpg);
        background-attachment: fixed,fixed;
        background-size: cover;
    }
    to {
        background: linear-gradient(120deg,rgba(102,126,234,.9),rgba(118,75,162,.9)),url(../img/bg-100dcf66f1.jpg);
        background-attachment: fixed,fixed;
        background-size: cover;
    }
}
.container {
    padding: 1em;
    text-align: center;
}

.card {
    background-color: #fff;
    color: rgb(25, 25, 25);
    box-shadow: 0 0 2px #000;
    /* min-width: 300px; */
    width: 100%;
    margin: 1em auto;
    padding: 2em 2em;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
}

.card-inverted {
    background-color: rgba(25, 25, 25, .5);
    backdrop-filter: blur(20px);
    color: #FFF;
    /* min-width: 300px; */
    width: 100%;
    margin: 1em auto;
    padding: 2em 6em;
    border-radius: 2px;
    font-size: 2em;
    border: 1px solid rgba(255,255,255,.5);
    transition: .3s;
}
.card-inverted strong {
    color: rgb(106, 85, 223);
    font-weight: 500;
}

.card-inverted:hover,
.card-inverted:focus {
    border: 1px solid rgba(255,255,255,1)
}

.card-inverted p {

}




.about > .card:nth-of-type(1) {
    /* background: red; */
}

.about > .card:nth-of-type(2) {
    text-align: left;
    width: 475px;

}

.card p {
    margin-bottom: 1em;
}


.header {
    border-bottom: 1px solid #555;
    background-color: rgba(0,0,0,.2);
}
.menu {
    max-width: 711px;
    margin: 0 auto;
}
.menu-item {
    display: inline-block;
    padding: 0.3em 3%;
}
.menu-item a {
    color: #fff;
}
.menu-item-link--active {
    border-bottom: 2px solid #fff;
}
.sectionMinibio {
    margin: 2em 0;
}
.sectionMinibio-avatar {
    border-radius: 50%;
    margin: 0 0 1.5em;
}
.sectionHighlight-title {
    font-size: 1em;
    font-weight: 500;
}
.sectionHighlight-title:first-line {
    font-size: 2em;
}
.sectionSocial-network {
    width: 64px;
    height: 64px;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 0.5em;
}
.sectionSocial-button {
    border-radius: 60px;
    padding: .75em 2em;

    display: inline-block;
    font-size: 1.2em;
    transition: background-color .3s;

    border: 2px solid var(--link-color);
    color: white;
    background-color: var(--link-color);
}
.sectionSocial-button:hover,
.sectionSocial-button:focus {
    text-decoration: none;
    border: 2px solid var(--link-color);
    color: var(--link-color);
    background-color: #fff;
}
.sectionSocial-button:active {

}

.sectionSocial-network[href="https://www.linkedin.com/in/designernatan"] {
    background-image: url("../img/linkedin-icon-d151dfb1b0.png");
}
.sectionSocial-network[href="https://twitter.com/designernatan"] {
    background-image: url("../img/twitter-icon-3b565e39c0.png");
}
.sectionCourses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sectionCourses-course {
    text-align: center;
    background-color: hsla(0,0%,100%,.9);
    padding: 2em;
    margin: 1em;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    max-width: 320px;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: .2s ease-in;
}

.sectionCourses-course:hover,
.sectionCourses-course:active {
    background-color: hsla(0,0%,100%,1);
    transform: translateY(-10px);

}

.sectionCourses-course-icon {
    width: 5em;
}
.sectionCourses-course-name {
    margin: 0.5em;
}
.sectionCourses-course-btn {
    border: 2px solid #333;
    padding: 0.6em;
    margin-top: 1em;
    display: inline-block;
    border-radius: 8px;
    color: #333;
    transition: 0.2s ease-in;
}
.sectionCourses-course-btn:focus,
.sectionCourses-course-btn:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}


.book {
    width: 12.5em;
    font-size: 16px;
    display: inline-block;
    transition: .3s;

}
.book:hover,
.book:focus {
    transform: scale(1.02)
}

.book-cover {
    display: inline-block;
    max-width: 100%;
    box-shadow: 5px solid;
}

